@model IEnumerable<WebApplication1.Models.Neo_Test>

<button class="btn btn-default" style="margin-top:10px;margin-bottom:10px">
    @Html.ActionLink("Create New", "Create")
</button>

<table id="myTable" class="table table-hover table-bordered">
    <thead style="background-color:aliceblue">
        <tr>
            @*<input type="hidden" id="Row_Id" name="custId" value="3487" />*@
              <td>Row_Id</td>
            <td>EmailAdress</td>
            <td>CountryName</td>
            <td>StateName</td>
            <td>CityName</td>
            <td>PanNumber</td>
            <td>Passport</td>
            <td>Image</td>
            <td>Gender</td>
            <td>IsActive</td>
            <td>Edit</td>
            <td>Delete</td>

        </td>
    </thead>
</table>

@section Scripts{

    <script type="text/javascript">
            $(document).ready(function () {
                $('#myTable').DataTable({

                    "ajax": {
                        "url": "/Neosoft/DisplayList",
                        "type": "GET",
                        "datatype":"json"
                    },
                    "columns": [
                        {"data":"Row_Id"},
                        {
                            "data": "EmailAddress"
                        },
                        { "data": "Country.CountryName" },
                        { "data": "State.StateName" },
                        { "data": "City.CityName" },
                        { "data": "PanNumber" },
                        { "data": "PassportNumber" },
                        {
                            //    "data": "ProfileImage",
                            
                            "render": function (data, type, JsonResultRow, meta) {
                                
                                return '<img height="50" width="50" src="' + JsonResultRow.ProfileImage + '">';
                            }
                        },
                        { "data": "Gender" },
                        { "data": "IsActive" },
                        {
                            "data": "Row_Id", "render": function (data,type,row)
                            {
                                return '<a class="btn btn-info" href="/Neosoft/Edit/' + row.Row_Id + '">Edit</a>';
                                alert("Edit Call");
                            }
                        },

                      {
                          "data": "Row_Id", render: function (data, type, row) {
                              return '<a  class="btn btn-danger" href="/Neosoft/Delete/' + row.Row_Id + '">Delete</a>';
                          }
                      }
                        
                    ]
                });
            });

    </script>

}

